
/* CATEGORY */
.category-slider{
    /* width: 98%; */
    margin: 0 auto;
    background-color: white;
    padding-block: 20px;
}
.category-card{
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none;
}
.category-card img{
    width: 100px;
    border-radius: 50%;
}
.category-card div{}


.slick-prev{
    background-color: white !important;
    box-shadow: 1px 0 5px #0000004f;
    border-radius: 0 10px 10px 0;
    width: 40px !important;
    height: 80px !important;
    left: 0 !important;
    z-index: 10;
}
.slick-next{
    background-color: white !important;
    box-shadow: -1px 0 5px #0000004f;
    border-radius: 10px 0 0 10px;
    width: 40px !important;
    height: 80px !important;
    right: 0 !important;
    z-index: 10;
}
.slick-prev::before,
.slick-next::before{
    color: black !important;
}


/* BANAR */
.homepage-banner{
    margin: 20px;
    position: relative;
}
.homepage-banner img{
    object-fit: contain;
    max-width: 100%;
}




/* PRODUCTS */
.homepage-products{
    background-color: white;
    margin: 20px;
}
.homepage-products-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    border-bottom: 1px solid #00000057;
}
.homepage-products-heading h2{}
.homepage-products-heading button{
    padding: 10px 20px;
    border-radius: 5px;
    height: 40px;
    border: none;
    background-color: green;
    color: white;
}
.homepage-products-card{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
    outline: none;
}
.homepage-products-card img{
    width: 80%;
}
.homepage-products-card div{
    font-size: 15px;
}
.homepage-products-card span{
    color: green;
}